* {
	box-sizing: border-box;
}

body {
	background-color:#11111B;
	font-family: 'Asap', sans-serif;
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
	line-height: 1.4;
}

h1, h2, h3, h4 {
	color: #ffd700;
	margin-bottom: 5px;
}

.wrapper {
	max-width: 752px;
	margin: 1rem auto;
	padding: 10px;
}



h1 {
	font-size: 2.5rem;
	margin: 10px auto;
	text-align: left;
}



nav {
	margin-top: 20px;
}

nav a {
	text-decoration: none;
	color: #FFD700;
	font-weight: bold;
}

.form-description {
	text-align: left;
}




@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  	body {
  		font-size: 1rem;
  	}

  	.wrapper {
	width: 90%;
     }

     .form-control input,
	.form-control select {
	font-size: 0.7rem;
}

     h1 {
	font-size: 1.5rem;
	}

	h2, h3, h4 {
		font-weight: bolder;
	}

}
