@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(34, 41, 46);
	font-family: 'Asap', sans-serif;
	color: #fff;
	font-size: 1.2rem;
	line-height: 1.4;
}

.container {
	max-width: 768px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto;
}

section {
	margin-bottom: 2rem;
}

.logo {
	width: 7rem;
	margin: 1rem auto;
}

.logo img {
	width: 7rem;
}

.intro-text {
	margin-bottom: 6rem;
}

.intro-text h1 {
	font-size: 3rem;
}

.intro-text p {
	color: #ffd700;
}

.nomination-info {
	margin-bottom: 2rem;
}

.main-content a {
	background-color: #ffd700;
	padding: 12px 25px;
	margin: 15px 0;
	color: #000;
	font-weight: 900;
	text-decoration: none;
	border-radius: 5px 0 5px 0;
}

.main-content a:hover {
	background-color: #fff;
}

ul {
	display: flex;
	list-style-type: none;
}

ul img {
	padding-right: 10px;
	width: 2.5rem;
	cursor: pointer;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #080808;
	padding: 20px 0;
}

footer p {
	font-size: 0.8rem;
	color: #777;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {


  	body {
  		font-size: 1rem;
  	}

  	.container {
  		max-width: 90%;
  	}

  	nav img {
			width: 4rem;
		}


		.intro-text {
			margin-bottom: 2rem;
		}

		.intro-text h1 {
			font-size: 1.5rem;
		}

		footer {
			padding: 8px 0;
		}


		footer p {
			font-size: 0.5rem;
			color: #777;
		}
}


@media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.intro-text h1 {
			font-size: 2rem;
		}


		footer {
			padding: 8px 0;
		}


		footer p {
			font-size: 0.5rem;
			color: #777;
		}
}




